a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer; /* Убедитесь, что кнопки имеют курсор указателя */
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
  box-sizing: border-box;
  height: auto; 
  /* overflow: auto;  */
}

*, *::before, *::after {
  box-sizing: inherit;
}

input, textarea {
  border: none;
  outline: none;
  font: inherit;
  margin: 0;
  padding: 0;
}

